body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.logo img {
  display: inline-block;
  width: 150px;
  max-width: 100%;
  max-height: 100%;
}

nav a {
  text-decoration: none;
  color: inherit;
}

.links-container {
  display: flex;
  justify-content: center;
  height: 30px;
  background-color: rgb(133, 0, 0);
  padding: 5px;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-self: center;
  color: white;
}

.links {
  display: flex;
  width: 100%;
  border: blue 1px solid;
  justify-content: right;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 5 0vh;
  border-bottom: black 1px solid;
}

.header img {
  width: 100%;
  max-width: 100%;
  max-height: 60%;
}

.header form {
  display: flex;
  position: absolute;
  top: 30%;
  width: 200px;
  max-width: 250px;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
  background-color: rgba(255, 255, 255, 0.644);
  border-radius: 10px;
}

input {
  width: 50%;
  border-radius: 10px;
  outline: none;
  border-color: rgb(212, 212, 212);
  margin-bottom: 10px;
  max-width: 300px;
}

header button {
  border-radius: 10px;
  background-color: rgb(0, 54, 231);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
  outline: none;
  font-size: 0.75rem;
  width: 50%;
  max-width: 200px;
}

.shadow {
  box-shadow: white 0px 0px 5px;
}

.hidden {
  display: none;
}
