body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(247, 101, 85);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.logo img {
  display: inline-block;
  width: 150px;
  max-width: 100%;
  max-height: 100%;
}

nav a {
  text-decoration: none;
  color: inherit;
}

.links-container {
  display: flex;
  justify-content: center;
  height: 30px;
  background-color: rgb(247, 101, 85);
  padding-bottom: 10px;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 50%;
  /* align-self: center; */
  color: white;
}

.links {
  display: flex;
  width: 100%;
  border: blue 1px solid;
  justify-content: right;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50vh;
  border-bottom: black 1px solid;
  overflow: hidden;
}

h1 {
  position: absolute;
  z-index: 2;
  color: white;
  top: 25%;
  padding: 10px;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}

.header img {
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.507);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header form {
  position: absolute;
  text-align: center;
  top: 40%;
  width: 80%;
  height: 70px;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
}

input, label {
display: block;
}

input label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7rem;
}

input {
  width: 100%;
  outline: none;
  border-color: rgb(212, 212, 212);
  margin-bottom: 10px;
  font-size: 0.9rem;
  max-width: 300px;
  border-radius: 5px;
}

header .btn-1 {
  background-color: rgb(247, 101, 85);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
  outline: none;
  font-size: 0.75rem;
  width: 100%;
  max-width: 200px;
  border: none;
}

.header .btn-2 {
  position: absolute;
  bottom: 20%;
  font-weight: bold;
  padding: 5px;
  outline: none;
  font-size: 0.75rem;
  width: 40%;
  max-width: 200px;
  border: none;
  z-index: 2;
  border-radius: 5px;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 768px) {
  nav {
    flex-direction: row;
    align-items: center;
  }

  .logo {
    width: 40%;
  }

  .links-container {
    display: flex;
    width: 60%;
    justify-content: end;
    height: 50px;
    align-items: center;
  }

  .header {
    height: 50vh;
  }

  .header img {
    height: 100%;
    width: 100%;
  }

  .header form  {
   width: 50%;
  }

  .header input {
    position: absolute;
    width: 50%;
    left: 10%;
    display: inline-block;
  }



  .header .btn-1 {
    position: absolute;
    right: 5%;
    width: 30%;
    display: inline-block;
  }


  .header .btn-2 {
    position: absolute;
    bottom: 20%;
    width: 15%;
    padding: 10px;
]  }

  .overlay {
    max-height: 100%;
  }
}
